.homePage{
    display: flex;
    flex-direction: column;
    align-items: center;
    .imagenHome{
        margin-top: 1rem;
    }
    .defIng{
        font-size: 2rem;
        color: white;
    }
    .defEs{
        font-size: 2rem;
        color: white;        
    }
    .explicacion{
        font-size: 1.5rem;
        color: white;
    }
}