@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

*{
    font-family: 'Oxygen', sans-serif;
}
.navBar{
    display: flex;
    background-color: #0A0708;
    justify-content: space-between;

    .logo{
        width: 14rem;
        height: 6rem;
    }
    .menu{
        display: flex;
        align-self: center;
        .menu-lista{
            display: flex;
            margin: 0;
            
            li{
                list-style: none;
                margin: 0 0.5rem;
                align-self: center;
                
                
                a{
                    background-color: #444444;
                    display: flex;
                    text-decoration: none;
                    margin: 0;
                    font-weight: bold;
                    padding: 0.5rem 0.7rem ;
                    border-radius:4px ;
                    color: white;
                        &:hover{
                            background-color: #B1B1B1;
                            color: black;
                            transform: scale(1.1);
                        }
                    }
            }
            .linkACarrito{
                display: flex;
                
                background-color: #0A0708;
                &:hover{
                    transform: scale(1.2);
                    color:white;
                    background-color: #0e0e0e;
                }
            }
        }
    }
    
    .botonLogin{
        height: 2.5rem;
        align-self: center;
        margin-right: 1rem;
    }
}
.itemList{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    height: 30rem;
    font-size:6rem;
    &:hover{
        background-color: #0e0e0e;
        color: white;
    }
}

.card{
    width: 18rem ;
    .controller{
        width: 8rem;
        display: flex;
        border: black solid 1px;
        margin: 5px;
        span{
            border: black solid 1px;

            align-self: center;
            margin: 0;
            padding: 8px;
        }
    }
}